#about h2 {
   margin: 1.5rem 0;
}

#about p {
   text-align: justify;
   margin: 1rem 0;
}
 
.profile-picture {
   border: 0.2rem solid #FFAEBC;
   border-radius: 50%;
   margin: 0rem auto;
   width: 75%;
}

/* Tablet styling */
@media screen and  (max-width: 768px) and (min-width: 426px) {
    #about p {
      font-size: 1.25rem;
    }
}

/* Desktop styling */
@media screen and (min-width: 769px) {
    #about {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    #about p {
      font-size: 1.25rem;
    }

    .profile-picture {
      border: 0.2rem solid #FFAEBC;
      border-radius: 50%;
      margin: 0rem auto;
      width: 50%;
   }
}