#contact {
   background-color: #B4F8C8;
   padding: 0 1rem;
}

#contact h2 {
   padding: 1rem 0;
   text-align: left;
}

#contact h3 {
   text-align: left;
   margin: 1rem 0;
}

.contact-containers {
   padding: 1.5rem 0;
}

.social-media {
   display: flex;
}

.social-media-icons {
   width: 4rem;
   margin-right: 1rem;
}
