#projects h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

iframe {
  display: block;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

#projects figure {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#projects figcaption {
  font-size: 0.75rem;
  /* text-align: center; */
  margin: 1rem 0;
}

#projects p {
  text-align: justify;
  font-size: 0.75rem;
}

.single-project {
  margin: 2rem 0;
}

/* Tablet styling */
/* @media screen and (min-width: 426px) {
  #projects p {
    font-size: 1rem;
  }
} */

/* Desktop styling */
@media screen and (min-width: 426px) {
  #projects h2 {
    font-size: 3.5rem;
    margin-top: 1rem;
  }

  #projects h3 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  #projects p {
    font-size: 1.25rem;
  }

  #projects figure {
    width: 100%;
    height: 100%;
  } 

  .single-project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 60rem;
    height: 30rem;
    margin: 2rem auto;
  }
} 