h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

main section {
  display: flex;
  justify-content: space-around;
} 

figure {
  width: 3em;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1rem;
}

/* Tablet styling */
@media screen and  (max-width: 768px) and (min-width: 426px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 769px) {
  h2 {
    font-size: 3.5rem;
  }

  figure {
    width: 6rem;   
  }
}