#skills h3 {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.flex-skills-images {
  display: flex;
  justify-content: space-around;
}

#skills figure {
  width: 2.3em;
}

#skills figcaption {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 1rem;
}

/* Desktop styling */
@media screen and (min-width: 769px) {
  #skills h3 {
    font-size: 1.75rem;
  }

  #skills figure {
    width: 5rem;   
  }

  #skills figcaption {
    font-size: 1.25em;
  }
}
