body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #74F5CD;
  display: flex;
}

a {
  color: black;
}

a:active{
  color: #3a3b3c;
}

a:visited {
  color: #3a3b3c;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  width: 70%;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

/* MAIN */
#profile-pic {
  border: 0.2rem solid black;
  border-radius: 1rem;
  width: 80%;
  margin-top: 2rem;
}
#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

article h3 {
  text-decoration: underline;
}
article h3:hover {
  text-decoration: none;
  cursor: pointer;
}
article div {
  display: none;
}

.icon {
  width: 5rem;
}