/* This website is coded with a mobile first approach */
/* ROOT FONT STYLES */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

/* HTML ELEMENTS for the whole document */
body {
  font-size: 16px;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 2.4rem;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8;
}

a:hover {
  cursor: pointer;
  color: lightseagreen;
}

hr {
  border: 1px solid black;
  margin: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */
/* HTML ELEMENTS FOR HEADER */
header {
  background-color: lightseagreen;
  position: relative;
  top: 5rem;
}

header h1 {
  font-size: 2.9rem;
  margin-bottom: 1rem;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: white;
}

/* Classes for header */
.side-nav {
  height: 100%;
  background-color: black;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 0;
  transition: 0.5s;
  opacity: 0.8;
}

.side-nav a {
  color: white;
  font-weight: 700;
  display: block;
  transition: 0.3s;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.cross-icon {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 85%;
  color: white;
  width: 100%;
  cursor: pointer;
}

.hamburger-icon {
  cursor: pointer;
  font-size: 2rem;
  margin: 1.5rem 1rem;
  position: fixed;
  top: 0;
  width: 1.75rem;
  background-color: yellow;
}


/* MAIN */
main {
  position: relative;
  top: 5rem;
  transition: margin-left .5s;
  padding: 3.75rem;
}

.profile-picture {
  border: 0.2rem solid black;
  border-radius: 50%;
}

.profile-picture-container {
  width: 75%;
  margin: 1rem auto;
}

main article {
  margin: 1rem 0;
}

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 3.75rem;
}

.footer-icons {
  width: 5rem;
}

/* Desktop styling */
@media screen and (min-width: 48rem) {
  /* ROOT FONT STYLES */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Header */
  header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
  }

  header h1 {
    text-align: left;
    margin: 0;
    padding: 1rem 0 1rem 1rem;
  }

  nav ul {
    display: flex;
    justify-content: end;
    padding: 1rem;
  }

  nav ul li {
    margin: 0 0.5rem;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  /* Main */
  main {
    position: relative;
    top: 3rem;
    width: 96%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }

  .profile-picture-container {
    margin: 0rem auto;
  }

  main p {
    font-size: 1.125rem;
  }

  /* Footer */
  footer {
    position: relative;
    top: 3rem;
  }
}
