body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

p, ul li {
  line-height: 1.8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */
header {
  background-color: #74F5CD;
  display: flex;
  padding: 0 1rem;
}

a {
  color: black;
}

a:active{
  color: #3a3b3c;
}

a:visited {
  color: #3a3b3c;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  width: 70%;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

/* MAIN */
main {
  margin: 0 1rem 1rem 1rem;
}
#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}
#profile-pic {
  border: 0.2rem solid black;
  border-radius: 1rem;
  width: 80%;
  margin: 4rem auto;
}

#projects h3 {
  text-decoration: none;
}
#projects h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
#projects div {
  display: none;
}
