h2 {
  font-size: 3rem;
}

main h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paragraph-separator {
  font-weight: 900; 
  text-align: center; 
  font-size: 32px;
}

iframe {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

figure img, iframe {
  width: 20rem;
  height: 20rem;
  margin: 1rem auto;
}

figcaption {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 48rem){
  p {
    font-size: 1.3rem;
    text-align: justify;
  }

  figure, .project-box p, .chatbot-explanation {
    width: 25rem;
    height: 25rem;
  }

  figure {
    margin: 0rem;
  }

  .project-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-box figure, .chatbot-explanation {
    margin-left: 20rem;
  }

  #chatbot-prototype {
    margin: 0;
  }
  /* figure {
    background-color: yellow;
  }
  .project-box p {
    background-color: aqua;
  } */
}