#skills h3 {
  text-align: center;
}

figure {
  width: 3em;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1rem;
}

/*
.programming-icons {

}
*/
.programming-icons-container {
  display: flex;
  justify-content: center;
} 

@media screen and (min-width: 768px) {
  .programming-icons-container {
    justify-content: space-around;
  }

  figure {
    width: 6rem;   
  }
}