#skills h3 {
  text-align: center;
}

figure {
  width: 3em;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
}

/*
.programming-icons {

}
*/
.programming-icons-container {
  display: flex;
  justify-content: center;
} 